# data output files in python and matlab folder
python/data_files/
matlab/data_files/
matlab/*.txt
python/*.txt

bin
temp
samples/build
_site

# emacs temp files
*~

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Documentation build
docs/build
docs/source/html
docs/source/xml
docs/source/latex
