[default]
bounded =1
fileType = .jpg
dataPath =../../samples/calib/syntheticRefract
dX = 5
dY = 5
nX = 9
nY = 6
zC = 100
#assume first camera and image are called 1 (index from 1)
centerCamID = 5 
centerImgIndex = 5
sX = 1200
sY = 800
pix_pitch = 0.00375
so = -980
f = 35
n1 = 1
n2 = 1
n3 = 1.3
tW = 2.21
zW = -52.21
